@import "tailwindcss";

/* ========================= */
/* Tipografías */
/* ========================= */

.titulo {
  font-family: var(--font-playfair);
}

.texto {
  font-family: var(--font-poppins);
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}

/* Fondo general */
body {
  background: #f8f5f0;
  color: #1f2937;
}

/* Selección de texto */
::selection {
  background: #d4af37;
  color: white;
}

/* Barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #13351f;
}

::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b89224;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(120%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-\[slideIn_\.4s_ease\] {
  animation: slideIn .4s ease;
}